body{
    background-color: #f0f0f0;
}
.num{
    color: black;
    border: 2px;
    border-color: #c7c5c5;
    border-style: outset;
    padding: 10px 50px 10px 10px;
    border-radius: 20px;
    font-family: sans-serif;
}
.semi-body{
    /* width: 30%;
    height: 50%; */
    color: #c7c5c5;
    background-color: #ffffff;
    margin-top: 70px;
    border-radius: 30px 30px 100px 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}
.img{
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}
.semi-num{
    color: black;
}
b{
    color: purple;
}